In [1]:
import pandas as pd

In [24]:
path = "xlsx\\Book1.xlsx"
df = pd.read_excel(path)
df.to_csv("Book1.txt", sep="\t", index=False)

In [9]:
data = pd.read_csv('vie.txt', sep='\t', header=None)
data.to_excel('vie.xlsx', index=False)

In [22]:
data_1 = pd.read_excel("xlsx\\Book1.xlsx")
data_2 = pd.read_excel("xlsx\\vie.xlsx")
print(data_1.info())
print(data_2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254090 entries, 0 to 254089
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Tiếng_Việt  254090 non-null  object
 1   Tiếng_Anh   254090 non-null  object
dtypes: object(2)
memory usage: 3.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9428 entries, 0 to 9427
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tiếng_Việt  9428 non-null   object
 1   Tiếng_Anh   9428 non-null   object
dtypes: object(2)
memory usage: 147.4+ KB
None

In [21]:
data_1 = pd.read_csv("txt\\Book1.txt", sep='\t', header=None)
data_2 = pd.read_csv("txt\\vie.txt", sep='\t', header=None)
print(data_1.info())
print(data_2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254090 entries, 0 to 254089
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       254090 non-null  object
 1   1       254090 non-null  object
dtypes: object(2)
memory usage: 3.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9428 entries, 0 to 9427
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       9428 non-null   object
 1   1       9428 non-null   object
 2   2       9428 non-null   object
dtypes: object(3)
memory usage: 221.1+ KB
None

In [14]:
merged_data = pd.concat([data_1, data_2], ignore_index=True)
merged_data.to_excel("combined_data.xlsx", index=False)
merged_data.to_csv("combined_data.txt", index=False, sep="\t")

In [18]:
df_1 = pd.read_csv('combined_data.txt', sep='\t', header=None)
print(df_1.info())
df_2 = pd.read_excel('combined_data.xlsx')
print(df_2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263518 entries, 0 to 263517
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       263518 non-null  object
 1   1       263518 non-null  object
dtypes: object(2)
memory usage: 4.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263518 entries, 0 to 263517
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Tiếng_Việt  263518 non-null  object
 1   Tiếng_Anh   263518 non-null  object
dtypes: object(2)
memory usage: 4.0+ MB
None